.form {
    display: flex;
    position: relative;
    height: 40px;
    border: 1px solid var(--fieldset);
    border-radius: 4px;
    margin-block: 28px;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__svg {
    margin-right: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input {
    border: 0;
    outline: 0;
    width: 90%;
}
.form__title {
    position: absolute;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--label-box);
    top: -18px;
    left: 0;
}
.form--comment {
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}
.form__textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 0;
    outline: 0;
    resize: none;
    padding: 12px 16px;
}
.form:hover .form__svg {
    fill: var(--brand-color);
}
.form:hover {
    border-color: var(--brand-color);
}